Get data from Airly.json
[{"id":"b8ddfe54.fb5ea","type":"http request","z":"c210cda.cfca33","name":"Send request","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":920,"wires":[["acf61289.61486","e6ec6a7a.e8c328"]]},{"id":"1d7f9b50.7c4705","type":"function","z":"c210cda.cfca33","name":"API request","func":"// Data for closest node\n\n/*\nvar data = {\"value\": 30};\nmsg = {\n    \"method\" : \"GET\",\n    \"url\" : \"https://airapi.airly.eu/v2/measurements/installation?installationId=2595\",\n    \"headers\" : {\n        \"Accept\": \"application/json\",\n        \"apikey\": \"APIKEY\"\n    },\n    //\"payload\" : JSON.stringify(data)\n};\n */\n// no worky - data for node nearest to coords\n/*\n msg = {\n    \"method\" : \"GET\",\n    \"url\" : \"https://airapi.airly.eu/v2/measurements/nearest?lat=50.24508&lng=19.13490&maxDistanceKM=5\",\n    \"headers\" : {\n        \"Accept\": \"application/json\",\n        \"apikey\": \"APIKEY\"\n    },\n    //\"payload\" : JSON.stringify(data)\n };\n */\n\n//interpolated to coords\n msg = {\n    \"method\" : \"GET\",\n    \"url\" : \"https://airapi.airly.eu/v2/measurements/point?lat=30&lng=30\",\n    \"headers\" : {\n        \"Accept\": \"application/json\",\n        \"apikey\": \"APIKEY\"\n    },\n    //\"payload\" : JSON.stringify(data)\n };\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":920,"wires":[["b8ddfe54.fb5ea"]]},{"id":"e6ec6a7a.e8c328","type":"debug","z":"c210cda.cfca33","name":"airly","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":960,"wires":[]},{"id":"acf61289.61486","type":"function","z":"c210cda.cfca33","name":"Parse data","func":"var pressure = msg.payload.current.values[3].value + \"hPa\";\nvar humidity = msg.payload.current.values[4].value + \"%\";\nvar temperature =  msg.payload.current.values[5].value + \"&deg C\";\nvar pm25percentage = msg.payload.current.standards[0].percent + \"%\";\nvar pm10percentage = msg.payload.current.standards[1].percent + \"%\";\n//var time = msg.payload.current.fromDateTime.substring(11, 19);\nvar today = new Date();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar caqi = msg.payload.current.indexes[0].value;\nvar outsideTemperatureUnfiltered =  msg.payload.current.values[5].value;\nvar caqiLevel = msg.payload.current.indexes[0].level;\n\nflow.set(\"outsidePressure\", pressure);\nflow.set(\"outsideTemperature\", temperature);\nflow.set(\"outsideHumidity\", humidity);\nflow.set(\"outsidePM25Percentage\", pm25percentage);\nflow.set(\"outsidePM10percentage\", pm10percentage);\nflow.set(\"outsideAirlytime\", time);\nflow.set(\"CAQI\", caqi);\nflow.set(\"temperatureUnfiltered\", outsideTemperatureUnfiltered);\nflow.set(\"CAQILevel\", caqiLevel)\n\nmsg = {}; \nmsg.pressure = pressure;\nmsg.humidity = humidity;\nmsg.temperature = temperature;\nmsg.pm25percentage = pm25percentage;\nmsg.pm10percentage = pm10percentage;\nmsg.time = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":920,"wires":[["a2fa4a95.b0c348","b8923733.9b24c8"]]},{"id":"7629fb19.0555d4","type":"inject","z":"c210cda.cfca33","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["1d7f9b50.7c4705"]]}]