Main weather station - output data.json
[{"id":"737f9bdf.550744","type":"mqtt out","z":"c210cda.cfca33","name":"","topic":"esp/weatherstation/out","qos":"2","retain":"","broker":"8304035a.d5ee7","x":1760,"y":1220,"wires":[]},{"id":"2699144d.c574bc","type":"inject","z":"c210cda.cfca33","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1130,"y":1300,"wires":[["80a1beb7.790bd"]]},{"id":"c628049b.a7ac08","type":"debug","z":"c210cda.cfca33","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1710,"y":1300,"wires":[]},{"id":"80a1beb7.790bd","type":"function","z":"c210cda.cfca33","name":"Format weather station output","func":"var date = new Date();\nvar ws2812Toggle\nvar screenPWM // 0-1000\nif(date.getHours() > 6 && date.getHours() < 23){ // led on between 6 and 23\n    ws2812Toggle = 1;\n    screenPWM = 200;\n}\nelse{\n    ws2812Toggle = 0;\n    screenPWM = 800;\n}\nvar ws2812Brightness = 160\n\nvar msg3 = \n[\n    [\"Temperatura:\", flow.get(\"outsideTemperature\").slice(0, -6)],\n    [\"Wilgotnosc:\", flow.get(\"outsideHumidity\").toString()],\n    [\"PM25:\", flow.get(\"outsidePM25Percentage\").toString()],\n    [\"PM10:\", flow.get(\"outsidePM10percentage\").toString()],\n    [\"Bojler:\", (flow.get(\"boilerLastCorrectValue\") + 8).toString()],\n    [\"Piec:\", flow.get(\"heatingLastCorrectValue\").toString()],\n    [\"Raspberry Pi:\", flow.get(\"piTemperature\").toString()],\n    [\"insidetemp\", flow.get(\"RoomTemperature\").toString().slice(0, -1)],\n    [\"insidehumi\", flow.get(\"RoomHumidity\").toString().slice(0, -1) + \"%\"],\n    [ws2812Toggle, ws2812Brightness],\n    [screenPWM, \" \"]\n]\n\nmsg.payload = JSON.stringify(msg3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":1260,"wires":[["c628049b.a7ac08","737f9bdf.550744"]]},{"id":"94b3506d.a6341","type":"mqtt in","z":"c210cda.cfca33","name":"","topic":"esp/weatherstation/in","qos":"0","datatype":"auto","broker":"8304035a.d5ee7","x":1140,"y":1220,"wires":[["80a1beb7.790bd"]]},{"id":"8304035a.d5ee7","type":"mqtt-broker","z":"","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]