Ministation - output data.json
[{"id":"5a5fd038.465ca","type":"mqtt out","z":"c210cda.cfca33","name":"","topic":"esp/ministation/out","qos":"","retain":"","broker":"8304035a.d5ee7","x":1930,"y":720,"wires":[]},{"id":"f098ef63.bd758","type":"mqtt in","z":"c210cda.cfca33","name":"","topic":"esp/ministation/in","qos":"0","datatype":"auto","broker":"8304035a.d5ee7","x":1540,"y":780,"wires":[["15cef459.79c99c","492cf89e.60a098"]]},{"id":"f344ee5.a24d31","type":"debug","z":"c210cda.cfca33","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1910,"y":780,"wires":[]},{"id":"64a8dfff.b41dd","type":"inject","z":"c210cda.cfca33","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1540,"y":720,"wires":[["15cef459.79c99c","492cf89e.60a098"]]},{"id":"492cf89e.60a098","type":"function","z":"c210cda.cfca33","name":"Output v2","func":"var msg2 = \n[\n\n    [\"O-TEMP\", flow.get(\"outsideTemperature\").slice(0, -6) + \", \" + flow.get(\"RoomTemperature\").toString()],\n    [\"O-HUMI\", flow.get(\"outsideHumidity\") + \", \" + flow.get(\"RoomHumidity\").toString() + \"%\"],\n    [\"PRESS\", flow.get(\"outsidePressure\")],\n    [\"CAQI\", flow.get(\"CAQI\").toString()],\n    [\"PI-TEMP\", flow.get(\"piTemperature\")],\n    [\"PIEC\", flow.get(\"heatingLastCorrectValue\").toString()],\n    [\"B-TEMP\", (flow.get(\"boilerLastCorrectValue\") + 8).toString()],\n\n\n    position = 50\n]\n\n/*\nvar msg2 = \n[\n\n    [\"Key 1\", \"Value 1\"],\n    [\"Key 2\", \"Value 2\"],\n    [\"Key 3\", \"Value 3\"],\n    [\"Key 4\", \"Value 4\"],\n    [\"Key 5\", \"Value 5\"],\n    [\"Key 6\", \"Value 6\"],\n    [\"Key 7\", \"Value 7\"],\n\n    position = 75\n]\n*/\n\nvar jsonstring = JSON.stringify(msg2);\nmsg.payload = jsonstring;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":760,"wires":[["f344ee5.a24d31","5a5fd038.465ca"]]},{"id":"8304035a.d5ee7","type":"mqtt-broker","z":"","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]